@import '/src/styles/shared.scss';

input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.Wrapper {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    border: $border-size solid $border-color;
    border-radius: $border-radius-round;

    transition: all $transition-duration $timing-function;

    &:focus,
    &:hover {
        border-color: $accent-color;
        outline: none;
    }
}

.Button {
    position: absolute;
    top: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: $button-padding;

    background-color: transparent;

    border: none;
    border-radius: 50%;

    cursor: pointer;

    opacity: 1;

    transform: scale(1) translate(0, -50%);

    transition: all $transition-duration $timing-function;

    &:hover {
        & .Svg {
            color: $accent-color;
        }
    }

    &:active {
        opacity: 0.5;
        transform: scale($active-scale) translate(0, -50%);

        & .Svg {
            color: $accent-color;
        }
    }

    &:disabled {
        opacity: 1;
        transform: scale(1) translate(0, -50%);

        & .Svg {
            color: $disabled-color;
        }
    }
}

.Decrease {
    left: 0;
}

.Increase {
    right: 0;
}

.Svg {
    width: $small-font-size;
    height: $small-font-size;

    color: $primary-text-color;

    transition: all $transition-duration $timing-function;
}

.Input {
    width: $input-width;
    height: $input-height;
    padding: $input-padding 0;

    text-align: center;

    font-size: $small-font-size;
    line-height: 1.5;

    border: none;
    border-radius: $border-radius-round;
    outline: none;
}