$black-color: #000000;
$grey-color: #d3d3d3;
$white-color: #F8F8F8;
$primary-color: #fccf47;
$accent-color: #1795a8;
$disabled-color: $grey-color;

// body 
$body-color: #ffffff;

// text
$primary-text-color: $black-color;

// button
$button-background: $primary-color;
$button-hovered-background: #158697; //accent-color +10%

// borders
$border-color: $black-color;

//background
$primary-color-darken: #e3ba40;