$body-color: #ffffff;
$primary-color: #000000;
// $accent-color: #f5c750;
$accent-color: #fccf47;
// $second-accent-color: #24afc1;
$second-accent-color: #1795a8;
$white-color: #F8F8F8;
$disabled-color: #c0c0c0;

// text
$primary-text-color: $primary-color;

// button
$button-background: $accent-color;
$button-hovered-background: #158697;


// borders
$border-color: $primary-color;