$body-color: #ffffff;
$primary-color: #000000;
$accent-color: #f5c750;

// text
$primary-text-color: $primary-color;

// button
$button-background: $accent-color;
$button-hovered-background: #e9bd4c;

// borders
$border-color: $primary-color;