@import './colors';

// text
$title-font-size: 20px;
$medium-font-size: 17px;
$primary-font-size: 14px;
$small-font-size: 10px;

// sizes
$max-width: 100%;
$svg-size: 20px;
$smal-svg-size: $small-font-size;
$error-svg-size: 50%;

// buttons 
$button-min-width: 48px;
$button-padding: 5px;

// input
$input-width: $button-min-width;
$input-height: 10px;
$input-padding: 5px;

// paddings
$elements-padding: 10px;
$elements-padding-small: calc($elements-padding/2);

// margins
$elements-margin: 10px;
$elements-margin-small: calc($elements-margin/2);
$elements-margin-big: calc($elements-margin*2);

// shadows
$section-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
$section-invert-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1), 0px -8px 16px rgba(0, 0, 0, 0.1);
$element-shadow: 0 2px 5px 2px rgba(0, 0, 0, .2);

//borders
$border-size: 1px;
$border-size-bold: 2px;
$border-radius-round: 30px;

// transitions
$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$active-scale: 0.98;

//grid
$grid-title-size: 40px;
$main-line: 1px solid $black-color;
$secondary-line: 1px dashed $primary-color;