@import '/src/styles/shared.scss';

.Header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1100;

    padding: $elements-padding;

    background-color: $primary-color;
    box-shadow: $section-shadow;

    @media print {
        display: none;
    }
}

.Logo {
    display: flex;

    margin-bottom: $elements-margin-small;
}

.LogoImg {
    width: $title-font-size;
    margin-right: $elements-margin-small;

    color: $accent-color;
}

.Title {
    text-align: center;

    font-size: $title-font-size;
    line-height: 1.5;
    font-weight: 300;

    color: $primary-text-color;
}

.Settings {
    padding: $elements-padding-small;

    background-color: $primary-color-darken;

    border-radius: $border-radius-round;
}