@import '/src/styles/shared.scss';

.Header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1100;

    padding: $section-vertical-padding $section-horizontal-padding;

    background-color: $accent-color;
    box-shadow: $section-shadow;

    @media print {
        display: none;
    }
}

.Wrapper {}

.Logo {
    display: flex;

    margin-bottom: 5px;
}

.LogoImg {
    width: $title1-font-size;
    margin-right: 5px;

    color: $second-accent-color;
}

.Title {
    text-align: center;

    font-size: $title1-font-size;
    line-height: 1.5;
    font-weight: 300;

    color: $primary-text-color;
}

.Settings {
    padding: 5px;
    background-color: #e3ba40;

    border-radius: 20px;
}