@import '/src/styles/shared.scss';

.Footer {
    z-index: 3;

    padding: $elements-padding;

    background-color: $primary-color;
    box-shadow: $section-invert-shadow;

    @media print {
        display: none;
    }
}

.Text {
    text-align: center;

    font-size: $small-font-size;
    line-height: 1.5;
    font-weight: 400;

    color: $primary-text-color;
}

.Link {
    color: $primary-text-color;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}