@import '/src/styles/shared.scss';

.Main {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $elements-margin;

  margin: $elements-margin-big $elements-margin;

  justify-items: center;


  @media print {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.Line {
  position: absolute;
  top: calc($elements-margin-small - $elements-margin-big);
  bottom: calc($elements-margin-small - $elements-margin-big);
  left: 50%;

  border-right: $border-size solid $grey-color;

  @media print {
    display: none;
  }
}